HomeAssistant/HA_flow.json
[{"id":"56dd94dc8548ac79","type":"tab","label":"Home Assistant Climate","disabled":false,"info":"","env":[]},{"id":"a0c7d6b4c2018b6e","type":"group","z":"56dd94dc8548ac79","name":"Connect with Home Assistant Thermostaat","style":{"label":true},"nodes":["a4dfa98ea66060e8","97b64e0ff97d0fa1","476043129c88de94","eacb0e1ca2c09c4f","d5452a2809a15771","5e51538f31a12b1d","fd669d4a46858b01","9a64d764143f0cad","97b4e23087ca3ee5","ab33a053cbe2d0cc","d4865f305ad38c4c","47df60cf3c8e31a3","432b10412244a134"],"x":84,"y":99,"w":792,"h":242},{"id":"a4dfa98ea66060e8","type":"api-call-service","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Set Climate Warmtepomp temp","server":"9eac3627.9da4f8","version":5,"debugenabled":true,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.warmtepomp"],"data":"{\"temperature\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"str"}],"queue":"none","x":450,"y":180,"wires":[[]]},{"id":"97b64e0ff97d0fa1","type":"api-current-state","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Check Target Temp","server":"9eac3627.9da4f8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.warmtepomp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":240,"wires":[["eacb0e1ca2c09c4f"]]},{"id":"476043129c88de94","type":"link in","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Read RoomSP from dashboard","links":["af715d4c79137c30","55ed50ca78ad2e8e"],"x":125,"y":180,"wires":[["5e51538f31a12b1d"]]},{"id":"eacb0e1ca2c09c4f","type":"function","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Get target temp","func":"msg.payload = Number(msg.data.attributes.temperature).toFixed(1);\nmsg.payload = parseFloat(msg.data.attributes.temperature);\n//check between 1 - 28 (some thermostats use 5 for nightmode)\nif (msg.payload > 0 && msg.payload < 29) {\n    msg.topic = \"HA Thermostat\";\n    global.set(\"WoonkamerSP\", msg.payload, \"file\");\n    return msg;\n}\nelse {\n    return [null, msg];\n}\n    ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":240,"wires":[["d5452a2809a15771","97b4e23087ca3ee5"]]},{"id":"d5452a2809a15771","type":"rbe","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":720,"y":240,"wires":[["fd669d4a46858b01","47df60cf3c8e31a3"]]},{"id":"5e51538f31a12b1d","type":"rbe","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":240,"y":180,"wires":[["a4dfa98ea66060e8","47df60cf3c8e31a3"]]},{"id":"fd669d4a46858b01","type":"link out","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Write RoomSP","mode":"link","links":["9a106cdefc873348"],"x":825,"y":240,"wires":[]},{"id":"9a64d764143f0cad","type":"trigger-state","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"On change","server":"9eac3627.9da4f8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.warmtepomp","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":""}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":170,"y":240,"wires":[[],["97b64e0ff97d0fa1"]]},{"id":"97b4e23087ca3ee5","type":"debug","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Target_temp","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"Target_temp","statusType":"auto","x":760,"y":180,"wires":[]},{"id":"ab33a053cbe2d0cc","type":"link out","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Send to log","mode":"link","links":["031e62b0bf3df7d7"],"x":825,"y":300,"wires":[]},{"id":"d4865f305ad38c4c","type":"function","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"Send to log","func":"if (msg.topic != \"HA Thermostat\") {\n    msg.topic = \"RTC\";\n}\nmsg.payload = \"Room setpoint changed to: \" + msg.payload + \" °C\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":300,"wires":[["ab33a053cbe2d0cc"]]},{"id":"47df60cf3c8e31a3","type":"rbe","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":540,"y":300,"wires":[["d4865f305ad38c4c"]]},{"id":"432b10412244a134","type":"comment","z":"56dd94dc8548ac79","g":"a0c7d6b4c2018b6e","name":"============== Setup your Home Assistant Climate Entity in all 3 blue nodes =============","info":"","x":480,"y":140,"wires":[]},{"id":"9eac3627.9da4f8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]